/* Place CSS styles here */
.box-parent{
    width: 1366px;
    height: 280.0024px;
    display: block; 
    background-color: #666666;
}

.top-button{
    display: flex;
    justify-items: flex-end;
}